# Dependencies
/node_modules

# Build output
/.next
/out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
/.turbo

# Editor directories and files
.idea
.vscode
.DS_Store

# TypeScript metadata
*.tsbuildinfo
